<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置全部属性-->
    <settings>
        <!-- 使用jdbc的getGeneratedKeys获取数据库的自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名代替列名，默认是true-->
        <setting name="userColumnLabel" value="true"/>
        <!--开启驼峰命名转换-->
        <setting name="mapUnderscoreCamelCase" value="true"/>


    </settings>
    <mappers>
        <mapper resource="mapper/SeckillDao.xml"/>
        <mapper resource="mapper/SuccesskilledDao.xml"/>
    </mappers>

</configuration>